@import "tailwindcss";

@theme {
  /* --- Primary --- */
  --color-primary-50:  #E1E8EF;
  --color-primary-100: #D4DEE7;
  --color-primary-200: #B7C7D7;
  --color-primary-300: #99B0C7;
  --color-primary-400: #7C99B6;
  --color-primary-500: #5E82A6;
  --color-primary-600: #4C6B8A;
  --color-primary-700: #3C546C;
  --color-primary-800: #2C3D4F;
  --color-primary-900: #1B2631;
  --color-primary-950: #141C24;

  /* --- Accent --- */
  --color-accent-50:  #FAF5F0;
  --color-accent-100: #F4ECE1;
  --color-accent-200: #E8D6BF;
  --color-accent-300: #DDC2A2;
  --color-accent-400: #D2AF84;
  --color-accent-500: #C69963;
  --color-accent-600: #B78343;
  --color-accent-700: #926835;
  --color-accent-800: #6C4D28;
  --color-accent-900: #4B351B;
  --color-accent-950: #382814;
}


@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-900);
    border-right-color: var(--color-primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  .rdp {
    --rdp-cell-size: 32px !important;
    --rdp-accent-color: var(--color-accent-500) !important;
    --rdp-background-color: var(--color-accent-600) !important;
    margin: 0 !important;
  }
}
