@import "tailwindcss";

:root {
  --color-primary-900: #1B2631;
  --color-primary-200: #B7C7D7;
  --color-accent-500: #C69963;
  --color-accent-600: #B78343;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-900);
    border-right-color: var(--color-primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  .rdp {
    --rdp-cell-size: 32px !important;
    --rdp-accent-color: var(--color-accent-500) !important;
    --rdp-background-color: var(--color-accent-600) !important;
    margin: 0 !important;
  }
}
